.title {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #0D0D0D;
    text-transform: uppercase;
    @media (max-width: $tablet-width) {
        font-size: 25px;
    }
    &_left {
        font-size: 36px;
        text-align: left;
        color: #fff
    }
    @media (max-width: $tablet-width) {
        margin: 15px;
        font-size: 23px;
    }
    @media (max-width: $mobile-width) {
        margin: 15px;
        font-size: 16px;
    }
}